<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }} - Captive Portal</title>
    </head>
    <body>
        <div>
            Captive Portal:
            <a href="{{ url_for('routes.login') }}">Login</a>
            <a href="{{ url_for('routes.logout') }}">Logout</a>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>
