{% extends "base.html" %}

{% block content %}
    <div class="container">
        <h1>DNS Mappings</h1>
        <table>
            <thead>
                <tr>
                    <th>IP Address</th>
                    <th>Hostname</th>
                </tr>
            </thead>
            <tbody>
                {% for mapping in mappings %}
                <tr>
                    <td>{{ mapping.ip }}</td>
                    <td>{{ mapping.hostname }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
